.clase1{
	color: red;
}
.clase2{
	color: green;

}
.clasebt1{
	color: yellow;
}
.fila1{
	
	background-color: lightgray ;
}
.fila2{

	background-color:  ;
}
.fila3{
	
	background-color: steelblue ;
}
.fila3_texto1{

	color: white ;
}

body{
	
background-color: ;

}
